{% extends 'base.html.twig' %}
{% block title %}Hello HomepacienteController!
{% endblock %}



{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div>

	<form id="home-paciente">
	<input type="hidden" name="notificaciones" id="hdn-notificaciones" value="{{ notificaciones|json_encode()}}">
	</form>


	{# {{  notificaciones|json_encode()}} #}
	</div>
	<div class="container">

		<div class="example-wrapper">
			<h1>Página principal del paciente
			</h1>
			<br>
			<p>Información personal</p>
			<p>Nombre:
				{{ paciente.nombre }}</p>
			<p>Email:
				{{ paciente.mail }}</p>
			<br>
			<p>
				<a href="/notificaciones/pendientes/paciente">Leer Notificaiones Pendientes</a>
			</p>
			<p>
				<a href="/completar/vacunacion">Registrar Historial de Vacunacion</a>
			</p>
			<p>
				<a href="/ver/turnos/pendientes">Ver turnos pendientes</a>
			</p>
			<p>
				<a href="/ver/historial/turnos">Ver historial de turnos</a>
			</p>
			<p>
				<a href="/ver/historial/vacunas">Ver historial de vacunas</a>
			</p>
			<p>
				<a href="/pdf/general" >Certificado General de Vacunacion</a>
			</p>
			<p>
				<a href="/notificaciones/paciente" >Ver Historial de Notificaciones</a>
			</p>

			<br>


			<table class="table">
				<thead>
					<tr>
						<th scope="col">Gripe</th>
						<th scope="col">Covid-19</th>
						<th scope="col">Fiebre Amarilla</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{# <a href="/asignacion/turno/gripe">Solicitar turno #}
							</a>
						</td>
						<td>
							{# <a href="/asignacion/turno/covid">Solicitar turno #}
							</a>
						</td>
						<td>
							<a href="#" onclick="validarYregistrarTurno({{edad}},{{vacunado}})" >Solicitar turno
							</a>
						</td>
						
					</tr>
					<tr>
					<td>
							<a href="#" onclick="genPdfIndividual(1)" >Certificado de vacunacion

						</td>
						<td>
							<a href="#" onclick="genPdfIndividual(2)" >Certificado de vacunacion
						
						</td>
						<td>
							<a href="#" onclick="genPdfIndividual(3)" >Certificado de vacunacion
							</a>
						</td>
					</tr>

				</tbody>
			</table>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}

			


		</div>

		<div id="listaToasts"></div>

{% for notificacion in notificaciones %}
			
{% block noti %}


	{% endblock%}
			{% endfor %}


		{% if notificaciones|length > 0 %}
    

<script type="text/javascript">
    window.onload = function() {
		
	   hayNotificaciones();

listarNotificaciones();



    }

	function listarNotificaciones(){
	   data = $('#hdn-notificaciones').val();
	   jsondata = JSON.parse(data);
	   console.log(jsondata);


	   var toastTrigger = document.getElementById('liveToastBtn') //quitar

	   cardsArray = [];

		jsondata.forEach( function (x,y){
			console.log(x,y)

			z = y + 1;

			ant = x.antelacion
			if (ant == 1){
				texto1 = 'Recordatorio de Turno: '  + x.vacuna
				texto2= x.mensaje_ini + 'le recordamos que tiene asignado un turno de vacunación...'
				role ='alert-success';

			} else {
				texto1 = 'Cancelacion de Turno: '  + x.vacuna
				texto2= x.mensaje_ini + 'lamentamos informarle que su turno de vacunación...'
				role ='alert-danger';

			}
			notificacionesDinamicas(z, texto1, texto2, role, x.id_notificacion);
			var toastLiveExample = document.getElementById('liveToast' + z)

			const toast = new bootstrap.Toast(toastLiveExample)
			toast.show()

			//card = '<div class="toast" style="width: 18rem;">  <div class="card-body"> <p class="card-title">' + texto1 + '</p>   <p class="card-text">'+ texto2+'</p>    <a href="#" class="card-link">Leer Notificacion</a>  </div></div>';

			card ='<div class="alert ' + role + '" role="alert">  <p class="alert-heading">' + texto1 + '</p>  <hr>  <p class="mb-0">'+ texto2+' </p></div>';

			cardsArray.push(card)
		})
		// console.log(cardsArray)

		cardsArray.forEach( function (card,i){
	$('#lista_notificaciones').append(card)

		})


	}


	function notificacionesDinamicas(x, texto1, texto2, role, idNotif){

		// TODO: poner color segun role
		var tc = $('<div></div>');
		tc.addClass('toast-container position-fixed top-0 end-0 p-3');
		tc.css('margin-top', x * 120);
		tc.attr('onclick', 'irANotif('+idNotif+');')
		var lt = $('<div></div>');
		lt.attr('id', 'liveToast' + x);
		lt.attr('class', 'toast');
		lt.attr('role', 'alert');
		lt.attr('aria-live', 'assertiver');
		lt.attr('aria-atomic', 'true');

		var th = $('<div></div>');
		th.addClass('toast-header');
      	var strongAndSmall ='<strong class="me-auto"><i class="fa-solid fa-message-lines"></i> Notificación</strong><small>' + texto1 +' </small>';
		th.html( strongAndSmall);

      	var tb = $.parseHTML('<div class="toast-body">'+ texto2+'</div>');
	

		lt.append(th).append(tb);
		tc.append(lt)
		$('#listaToasts').append(tc)


	}

	function irANotif(x){

		url = '/leer/notificacion/' + x;
		console.log(x)
		window.location = url;
	}

</script>
{% endif %}

{% endblock %}
