{% extends 'base.html.twig' %}

{% block title %}Hello HomepacienteController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container">

		<div class="example-wrapper">
			<h1>Página principal del paciente
			</h1>
			<br>
			<p>Información personal</p>
			<p>Nombre:
				{{ paciente.nombre }}</p>
			<p>Email:
				{{ paciente.mail }}</p>
			<br>
			<p>
				<a href="/completar/vacunacion">Registrar vacunación</a>
			</p>
			<p>
				<a href="/ver/turnos/pendientes">Ver turnos pendientes</a>
			</p>
			<p>
				<a href="/ver/historial/turnos">Ver historial de turnos</a>
			</p>
			<p>
				<a href="/ver/historial/vacunas">Ver historial de vacunas</a>
			</p>
			<p>
				<a href="/pdf/general" >Certificado General de Vacunacion</a>
			</p>

			<br>


			<table class="table">
				<thead>
					<tr>
						<th scope="col">Gripe</th>
						<th scope="col">Covid-19</th>
						<th scope="col">Fiebre Amarilla</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{# <a href="/asignacion/turno/gripe">Solicitar turno #}
							</a>
						</td>
						<td>
							{# <a href="/asignacion/turno/covid">Solicitar turno #}
							</a>
						</td>
						<td>
							<a href="#" onclick="validarYregistrarTurno({{edad}},{{vacunado}})" >Solicitar turno
							</a>
						</td>
						
					</tr>
					<tr>
					<td>
							<a href="#" onclick="genPdfIndividual(1)" >Certificado de vacunacion

						</td>
						<td>
							<a href="#" onclick="genPdfIndividual(2)" >Certificado de vacunacion
						
						</td>
						<td>
							<a href="#" onclick="genPdfIndividual(3)" >Certificado de vacunacion
							</a>
						</td>
					</tr>

				</tbody>
			</table>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}

			<div>
		{# <img  src="{{ asset('build/img/enconstruccion.jpeg') }}" width="300" height="300" > #}
			
			</div>


		</div>
	</div>
{% endblock %}
