{# {% extends 'base.html.twig' %} #}
{# 
{% block title %}Hello PdfGeneralController!
{% endblock %} #}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

<p>Fecha: {{ fecha_certificado }}</p>

		<h1>Certificado General de Vacunacion</h1>

       <p>VACUNASSIST certififa que  {{ nombre }} ha recibido las vacunas detalladas a continuaci&oacute;n:
   
   </p>


		<table>

			{% if (vacunas[0] != null or vacunas[1] != null or vacunas[2] != null or vacunas[3] != null ) %}
				<tr>
					<th>
						Vacuna
					</th>
					<th>
						Lote
					</th>
					<th>
						Fecha
					</th>


				</tr>
			{% endif %}


			{% if (vacunas[0] != null )  %}
				<tr>
					<td>Gripe</td>
					<td>{{lotes[0]}}</td>
					<td>{{vacunas[0]}}</td>
				</tr>
			{% endif %}
			{% if (vacunas[1] != null )  %}
				<tr>
					<td>Covid19</td>
					<td>{{lotes[1]}}</td>
					<td>{{vacunas[1]}}</td>
				</tr>
			{% endif %}
			{% if (vacunas[2] != null )  %}
				<tr>
					<td>Covid19</td>
					<td>{{lotes[2]}}</td>
					<td>{{vacunas[2]}}</td>
				</tr>
			{% endif %}
			{% if (vacunas[3] != null )  %}
				<tr>
					<td>Fiebre Amarilla</td>
					<td>{{lotes[3]}}</td>
					<td>{{vacunas[3]}}</td>
				</tr>
			{% endif %}

		</tabla>
	</div>
{% endblock %}
