{% extends 'base.html.twig' %}

{% block title %}Hello LeerNotificacionController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Notificaciones</h1>

		<div>

			<table class="table">

				<tr>
					<th>
						Fecha de Notificacion
					</th>
					<th>
						Vacuna
					</th>
					<th>
						Vacunatorio
					</th>
					<th>
						Fecha de Aplicacion
					</th>
				</tr>


				<tr>
					<td>
						{{ notif['fecha_notificacion'] }}
					</td>

					<td>
						{{ notif['vacuna'] }}
					</td>
					<td>
						{{ notif['vacunatorio'] }}
					</td>
					<td>
						{{ notif['fecha_turno'] }}
					</td>
				</tr>


			</tabla>
		</div>
		<div>
			<p>Mensaje:
				{{ notif['mensaje'] }}
			</p>
		</div>
		<a href="/notificaciones/pendientes/paciente">Ver todas las notificaciones pendientes</a>
	</div>
{% endblock %}
