{% extends 'base.html.twig' %}

{% block title %}Hello HomeadminController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">

		<form id="form_home_admin" method="post">
		<input type="hidden" id="data1" name="data1">
		</form>

		<div class="example-wrapper">
			<h1>Home Admin</h1>

			<p>
				Pagina en construccion
			</p>

			<ul>
				<li><a href="/altavacunador">Alta de Vacunador</a></li>
				<li><a href="/vacunadoresporcentro">Administrar Vacunadores por Centro</a></li>
				<li><a onclick="modificarVacunatorio(1,'{{ nombres_vacunatorios[0]}}' )" href="#">Actualizar informacion del  Centro de vacunacion {{ nombres_vacunatorios[0]}}</a></li>
				<li><a onclick="modificarVacunatorio(2, '{{ nombres_vacunatorios[1]}}')" href="#">Actualizar informacion del  Centro de vacunacion {{ nombres_vacunatorios[1]}}</a></li>
				<li><a onclick="modificarVacunatorio(3, '{{ nombres_vacunatorios[2]}}')" href="#">Actualizar informacion del  Centro de vacunacion {{ nombres_vacunatorios[2]}}</a></li>
				<li><a href="/listado/turnos/famarilla">Listado de Turnos para Fiebre Amarilla</a></li>
				<li><a >--</a></li>
				<li><a href="/estadistica/unafecha">Información estadistica en una fecha dada</a></li>
				<li><a href="/estadistica/hastafecha">Información estadistica hasta una fecha dada</a></li>
				<li><a href="/estadistica/entrefechas">Información estadistica entre dos fechas dadas</a></li>

			</ul>
		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}




	</div>
{% endblock %}
