{% extends 'base.html.twig' %}

{% block title %}Hello VacunasAAplicarController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<a href="/home/vacunador" > Menu Principal </a>
	<div class="example-wrapper">

		<h1>Vacunacion del día</h1>
		<h3>Vacunador:
			{{vacunador}}</h3>


		<div class="container-fluid">

			<table class=" table">
				{% if turnos != null %}
					<tr>
						<th>
							Paciente
						</th>
						<th>
							Vacuna
						</th>
						<th>
							Estado
						</th>
						<th>
							Fecha Turno
						</th>
						<th>
							Operacion
						</th>
					</tr>

					{% for turno in turnos %}
						<tr>
							<td>{{ turno.paciente }}</td>
							<td>{{ turno.vacuna }}</td>
							<td>{{ turno.estado }}</td>
							<td>{{ turno.fecha }}</td>
							<td>
									<button class="btn btn-primary" 
								{% if turno.estado != 'ASIGNADO' %}
								disabled
								{% endif %}
									onclick="registrarAplicacion('{{turno.id}}')">Registrar Aplicacion</button>
							
							</td>

						</tr>
					{% endfor %}


				{% else %}
					<tr>
						<td>No hay vacunas para el dia de la fecha en este centro de vacunación
						</td>
					</tr>
				{% endif %}


			</table>

			{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		
		</div>

	</div>
{% endblock %}
