{% extends 'base.html.twig' %}

{% block title %}Hello EstadisticaController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper" id="div_estadistica1_form" style="display:{{ clase_form }};">
		<h1>Información Estadística</h1>

		{# {{ form (form, {'attr': {'id': 'form_data'}})}} #}
		<form action="/estadistica/unafecha" method="POST" id="estadistica_una_fecha">

			<hr>
			<p>Vacunatorios</p>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="vacunatorio1" id="inlineCheckbox11">
				<label class="form-check-label" for="inlineCheckbox11">{{ vacunatorios[0] }}</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="vacunatorio2" id="inlineCheckbox12">
				<label class="form-check-label" for="inlineCheckbox12">{{ vacunatorios[1] }}</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="vacunatorio3" id="inlineCheckbox13">
				<label class="form-check-label" for="inlineCheckbox13">{{ vacunatorios[2] }}</label>
			</div>
			<hr>
			<p>Vacunas</p>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="vakuna1" id="inlineCheckbox21">
				<label class="form-check-label" for="inlineCheckbox21">Gripe</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="vakuna2" id="inlineCheckbox22">
				<label class="form-check-label" for="inlineCheckbox22">Covid</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="vakuna3" id="inlineCheckbox23">
				<label class="form-check-label" for="inlineCheckbox23">Fiebre Amarilla</label>
			</div>
			<hr>
			<p>Estados de turnos</p>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="estado1" id="inlineCheckbox31">
				<label class="form-check-label" for="inlineCheckbox31">Asignado</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="estado2" id="inlineCheckbox32">
				<label class="form-check-label" for="inlineCheckbox32">Cancelado</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="estado3" id="inlineCheckbox33">
				<label class="form-check-label" for="inlineCheckbox33">Aplicado</label>
			</div>
			<hr>
			<div>
				<label for="fecha">Fecha de Aplicación:
				</label>
				<input type="date" id="fecha" name="fecha1" max="{{ fecha_hoy }}" value="{{ fecha_hoy}}">

			</div>
			<hr>
			<input type="button" value="Aceptar" onclick="verEstadisticaUnaFecha()">


		</form>

	</div>

	<div class="example-wrapper" id="div_estad1_info" style="display:{{ clase_info }};">

		<table class=" table">
			{% if turnos != null %}
				<tr>
					<th>
						Vacunatorio
					</th>
					<th>
						Vacuna
					</th>
					<th>
						Estado
					</th>
					<th>
						Fecha Aplicacion
					</th>
				</tr>

				{% for turno in turnos %}
					<tr>
						<td>{{ turno.vacunatorio }}</td>
						<td>{{ turno.vacuna }}</td>
						<td>{{ turno.estado }}</td>
						<td>{{ turno.fecha }}</td>


					</tr>
				{% endfor %}


			{% else %}
				<tr>
					<td>No hay turnos registrados con los filtros aplicados
					</td>
				</tr>
			{% endif %}


		</table>


	</div>
{% endblock %}
