{% extends 'base.html.twig' %}

{% block title %}Hello EstadisticaController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<div class="example-wrapper">
		<h1>Información Estadística
			<small>{{subtitulo}}</small>
		</h1>
</div>
	<div class="example-wrapper" id="div_estadistica1_form" style="display:{{ clase_form }};">

		{# {{ form (form, {'attr': {'id': 'form_data'}})}} #}
		<form action="/estadistica/unafecha" method="POST" id="estadistica_una_fecha">
			<input type="hidden" name="tipo" id="tipo" value="{{tipo}}">

			<hr>
			<p>Vacunatorios</p>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="vacunatorio1" id="inlineCheckbox11">
				<label class="form-check-label" for="inlineCheckbox11">{{ vacunatorios[0] }}</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="vacunatorio2" id="inlineCheckbox12">
				<label class="form-check-label" for="inlineCheckbox12">{{ vacunatorios[1] }}</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="vacunatorio3" id="inlineCheckbox13">
				<label class="form-check-label" for="inlineCheckbox13">{{ vacunatorios[2] }}</label>
			</div>
			<hr>
			<p>Vacunas</p>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="vakuna1" id="inlineCheckbox21">
				<label class="form-check-label" for="inlineCheckbox21">Gripe</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="vakuna2" id="inlineCheckbox22">
				<label class="form-check-label" for="inlineCheckbox22">Covid</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="vakuna3" id="inlineCheckbox23">
				<label class="form-check-label" for="inlineCheckbox23">Fiebre Amarilla</label>
			</div>
			<hr>
			<p>Estados de turnos</p>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="estado1" id="inlineCheckbox31">
				<label class="form-check-label" for="inlineCheckbox31">Asignado</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="estado2" id="inlineCheckbox32">
				<label class="form-check-label" for="inlineCheckbox32">Cancelado</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" checked name="estado3" id="inlineCheckbox33">
				<label class="form-check-label" for="inlineCheckbox33">Aplicado</label>
			</div>
			<hr>
			{% if tipo != 'entrefechas' %}
				<div>
					<label for="fecha1">Fecha de Aplicación:
					</label>
					<input type="date" id="fecha1" name="fecha1" max="{{ fecha_hoy }}" value="{{ fecha_hoy}}">

				</div>
			{% else %}
				<div>
					<label for="fecha1">Fecha Desde:
					</label>
					<input type="date" id="fecha1" name="fecha1" max="{{ fecha_hoy }}" value="{{ fecha_hoy}}">

					<label for="fecha2">Fecha Hasta:
					</label>
					<input type="date" id="fecha2" name="fecha2" max="{{ fecha_hoy }}" value="{{ fecha_hoy}}">

				</div>

			{% endif %}

			<hr>
			<input type="button" value="Aceptar" onclick="verEstadisticaUnaFecha()">


		</form>

	</div>

	<div class="example-wrapper" id="div_estad1_info" style="display:{{ clase_info }};">

		<table class=" table">
			{% if turnos != null %}
				<tr>
					<th>
						Vacunatorio
					</th>
					<th>
						Vacuna
					</th>
					<th>
						Estado
					</th>
					<th>
						Fecha Aplicacion
					</th>
				</tr>

				{% for turno in turnos %}
					<tr>
						<td>{{ turno.vacunatorio }}</td>
						<td>{{ turno.vacuna }}</td>
						<td>{{ turno.estado }}</td>
						<td>{{ turno.fecha }}</td>


					</tr>
				{% endfor %}


			{% else %}
				<tr>
					<td>No hay turnos registrados con los filtros aplicados
					</td>
				</tr>
			{% endif %}


		</table>

		<div id="div_resumen">

			{% if  resumen['total'] != 0 %}

			<p>
				Se encontraron
				{{resumen['total']}}
				turnos registrados que cumplen con los filtros seleccionados, de los cuales:
			</p>

				{% for key,dato in resumen   %}


					{% if  dato != null and  key != 'total' %}

						<p>
							=>
							{{dato }}, equivalente al
							{{ (dato *100 / resumen['total']) |round(2)  }}
							%
							{% if  key == 'vacunatorio1' %}
								corresponden al vacunatorio
								{{vacunatorios[0]}}
							{% endif %}
							{% if  key == 'vacunatorio2' %}
								corresponden al vacunatorio
								{{vacunatorios[1]}}
							{% endif %}
							{% if  key == 'vacunatorio3' %}
								corresponden al vacunatorio
								{{vacunatorios[2]}}
							{% endif %}

							{% if  key == 'vacuna1'  %}
								son contra la Gripe
							{% endif %}

							{% if    key == 'vacuna2'  %}
								son contra el Covid
							{% endif %}

							{% if   key == 'vacuna3' %}
								son contra la Fiebre Amarilla
							{% endif %}

							{% if  key == 'ASIGNADO' or  key == 'CANCELADO' or key == 'APLICADA' %}
								tienen estado
								{{ key}}.
							{% endif %}

						</p>
					{% endif %}
				{% endfor %}

			{% endif %}

		</div>


	</div>
{% endblock %}
