    {# <div class="alert">
        <hr>
        Usuario: {{ user }} |    Rol: {{ rol }} |  <a href="/" >Home</a> |  <a href="/logout" >Cerrar sesión</a>
        <hr>
    </div> #}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >VacunasSist</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {# <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> #}
      </ul>
      <span class="navbar-text">
        {% if env == 'dev' %}
            Usuario: {{ user }} |    Rol: {{ rol }} |  <a href="/" >Home</a> |  <a href="/logout" >Cerrar sesión</a>
		{% else %}


            {% if rol == 'P' %}
                Paciente: {{ user }} |  <a href="{{ homePage }}" >Home</a> |  <a href="/logout" >Cerrar sesión</a>
            {% endif %}
            {% if rol == 'V' %}
                Vacunador: {{ user }} |  <a href="{{ homePage }}" >Home</a> |  <a href="/logout" >Cerrar sesión</a>
            {% endif %}
            {% if rol == 'A' %}
                Admin: {{ user }} |  <a href="{{ homePage }}" >Home</a> |  <a href="/logout" >Cerrar sesión</a>
            {% endif %}
            {% if rol == 'x' %}
                <a href="/custom/login/paciente" >Iniciar Sesión</a>
            {% endif %}


        {% endif %}

      </span>
    </div>
  </div>
</nav>